.content {
  position: relative;
  height: 90vh;
}

.game-board {
  display: grid;
  gap: .5rem;
  grid-template-columns: repeat(3, 1fr);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.square {
  background: no-repeat center;
  background-size: 75px 75px;
  width: 125px;
  height: 125px;
  border: 1px solid #161616;
  transition: .4s;
}

.square:hover {
  background: #dfdfdf no-repeat center;
  background-size: 80px 80px;
}


.start {
  display: block;
  margin: auto;
}

.active-player-display {
  text-align: center;
}

